<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>VideoBoss</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="../../static/css/style.css"
          th:href="@{/css/style.css}"/>
</head>
<body>
    <!--/*@thymesVar id="customer" type="net.sevecek.videoboss.entity.Customer"*/-->

    <h1>Customer Details</h1>
    
    <form action="all.html"
          th:attr="action=''"
          method="post">
        <table>
            <tr th:if="${customer.id ne null}">
                <th>Number</th>
                <td>
                    <span th:text="${customer.id}">1000</span>
                    <input type="hidden" name="version"
                           value="0"
                           th:value="${customer.version}"/>
                    <input type="hidden" name="deleted"
                           value="false"
                           th:value="${customer.deleted}"/>
                </td>
            </tr>
            <tr>
                <th><label for="firstName">First name</label></th>
                <td>
                    <input id="firstName"
                           name="firstName"
                           value="Jack"
                           th:value="${customer.firstName}"/>
                </td>
            </tr>
            <tr>
                <th><label for="lastName">Last name</label></th>
                <td>
                    <input id="lastName"
                           name="lastName"
                           value="Sparrow"
                           th:value="${customer.lastName}"/>
                </td>
            </tr>
            <tr>
                <th><label for="address">Address</label></th>
                <td>
                    <input id="address"
                           name="address"
                           value="Port Royale"
                           th:value="${customer.address}"/>
                </td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td>
                    <input type="submit" value="Save"/>
                </td>
            </tr>
        </table>
    </form>

</body>
</html>